.services{
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    padding: 10px 30px 10px 30px;
   display: flex;
   flex-direction: column;
}
.title{
       text-align: center;
       font-size: 30px;
       font-weight: 700;
}  
.title>span{
    color:  rgb(232, 108, 55);;
}
.service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;  
    position: sticky;

}
.service-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
 
  
}
.service-img{
    width: 120px;
    cursor: pointer;
   
}
.service-title{
    text-align: center;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}


.text{
    position: absolute;  
    color: rgb(134, 130, 130);
    text-align: center;
    display: none;
    transition: all 0.3s ease;
    background-color: rgb(241, 237, 237);
    border-radius: 5px;
    font-size: 14px;
    bottom: -100%;  
    transition: bottom 0.3s ease-in-out;
    transition: transform 0.5s ease-in-out; 
   
    
    
 
}
.service-item:hover .text{
   display: block;
}

@media screen and (max-width:768px) {
    .service-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11rem;
    }
    .service-img{
        width: 160px;
        cursor: pointer;
    }


}