  .contact--container {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }

  .contact--title {
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
  }

  .section--title>span {
    color: rgb(232, 108, 55);
  }

  .contact--desc {

    font-size: var(--small-font-size);
    line-height: 1.6;
  }

  .contact--desc,
  .contact--info .info--item {
    margin-bottom: 20px;
  }

  .contact--info .info--item {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .contact--info .info--icon {
    color: rgb(232, 108, 55);
    ;
    font-size: var(--h2-font-size);
  }

  .contact--info .info--title {
    font-size: var(--small-font-size);
  }

  .contact--info .info--desc {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
  }

  .contact--socials {
    display: flex;
    column-gap: 16px;
  }

  .contact--social--links {
    background-color: var(--container-color);
    color: var(--title-font);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    transition: all 0.3s ease;
  }

  .contact--social--links:hover {
    background-color: rgb(232, 108, 55);
    ;
    color: var(--text-white);
  }

  .form--input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  .form--input-div {
    margin-bottom: 30px;
  }

  .form--control {
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    color: var(--title-color);
    width: 100%;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: var(--small-font-size);
    transition: all 0.3s ease;
  }

  .form--control:focus {
    border-color: rgb(232, 108, 55);
    ;
  }

  .textarea {
    resize: none;
    height: 160px;
  }

  .contact-button {

    margin-top: 3px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    background: rgb(232, 108, 55);
    color: #fff;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;


  }

  .contact-button:hover {
    background-color: black;
  }


  @media screen and (max-width:768px) {
    .contact--container {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .form--input-group {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }
    .form--input-div {
      margin-bottom: 30px;
      width: 300px;
    }
  
  }