.projectsss{
    margin-top: 10rem;
    height: 100vh;
}

.heading22ss>span{
     display: flex;
     justify-content: center;
     align-items: center;   
     font-size: 2.5rem;
     font-weight: 900;
}
.heading22ss>p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.cardsss{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardss{
    margin-top: 4rem;
   
}
.card1ss{
    cursor: pointer;
    margin-top: 5rem;
    margin-left: 2rem;
    height: 50vh;
    width: 40vh;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 2px 0px rgb(164, 164, 164);
}

.card1ss:hover{
    box-shadow: 0px 10px 20px rgb(164, 164, 164);
}
.card2ss:hover{
    cursor: pointer;
    box-shadow: 0px 10px 20px rgb(164, 164, 164);
}
.card3ss:hover{
    cursor: pointer;
    box-shadow: 0px 10px 20px rgb(164, 164, 164);
}

.card1ss>h1{
  margin-left: 4rem;
  margin-top: 1rem;
}

.card1ss>p{
    margin-top: 2rem;
    margin-left: 4.5rem;
}

.img11ss{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.5rem; 
    height: 20vh;
    width: 25vh;
    background-size: cover;
    border-radius: 50%;
    background-position: center center;
}

.card2ss{
    margin-top: 5rem;
    margin-left: 4rem;
    height: 50vh;
    width: 40vh;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 2px 0px rgb(164, 164, 164);
}

.card2ss>h1{
    margin-top: 5rem;
    margin-left: 2rem;
}

.card2ss>p{
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
}

.card3ss{
    margin-top: 5rem;
    margin-left: 4rem;
    height: 50vh;
    width: 40vh;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 2px 0px rgb(164, 164, 164);
}

.card3ss>h1{
    margin-top: 5rem;
    margin-left: 2rem;
}
.card3ss>p{
    margin-top: 2rem;
    margin-left: 1rem;
}






.card21{
    cursor: pointer;
    margin-top: 5rem;
    margin-left: 4rem;
    height: 50vh;
    width: 40vh;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 2px 0px rgb(164, 164, 164);
}

.card21:hover{
    box-shadow: 0px 10px 20px rgb(164, 164, 164);
}
.img21{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.5rem; 
    height: 20vh;
    width: 25vh;
    background-size: cover;
    border-radius: 50%;
    background-position: center center;
}

.img111{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.5rem; 
    height: 20vh;
    width: 25vh;
    background-size: cover;
    border-radius: 50%;
    background-position: center center;
}




@media screen and (max-width:480px) {
    .projectsss{
        margin-top: 45rem;
    }
    .cardsss{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .heading22ss>p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    
  
    
}