.letstalk{
    height: 40vh;
    width: 100%;
    margin-top: 7rem;
}

.headding{
    font-size: 2rem;
    font-weight: 900;
    margin-left: 35%;
}

.textt{
    margin-left: 10rem;
    margin-top: 5rem;
}

.textt>h1{
     margin-left: 3.5rem;
     font-size: 5rem;
     color: rgb(232, 108, 55);
}

.textt>h3{
    margin-left: 2rem;
    margin-top: -3rem;
}
.textt>p{
    margin-left: 1rem;
}

.lets{
    display: flex;
}






@media screen and (max-width:480px) {

    .headding{
        margin-left: -1rem;
        font-size: 1.5rem;
        margin-left: 5rem;
    }
    .lets{
        flex-direction: column;
       
    }
    .textt{
        margin-left: 6rem;
    }
    
}

