.aboutbodr{
    width: 100%;
    height: 100%;
    position: relative;

   
}
.backgroundVideo {
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }


.leftsidede {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftsidede>span {
    font-weight: 900;
    font-size: 40px;
    color:var( --purple-color);
}

.leftsidede>p {
    font-size: 20px;
    color: rgb(58, 57, 57);
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
}

.getintouch {
    margin-top: 2rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color:  var(--purple-color);
    border: 2px solid var(--purple-color);
    height: 4rem;
    width: 9rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.getintouch:hover {
    background: var(--purple-color);
    color: white;
    border: none;
}

.aboutbodr {
    display: flex;
    flex-direction: row;
}

.rightsidees {
    margin-top: 6rem;
    margin-left: 3rem;
    height: 40vh;
    width: 45vw;
    border-radius: 10px;

}

.rightsidees>img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
}



@media screen and (max-width:768px) {
    .aboutbodr {
        height: 100vh;
        flex-direction: column;
    }


    .rightsidees {
        height: 20rem;
        width: 80vw;

    }
}

@media screen and (max-width:340px) {
    .leftsidede>span {
        font-weight: 900;
        font-size: 2rem;
    }

    .leftsidede>p {
        margin-top: 1rem;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        word-break: break-word;
    }

    .leftsidede {
        margin-top: 10rem;
        margin-left: 2rem;
    }

    .rightsidees {
        margin-left: 2rem;


    }
}