*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobileview{
    height: 100vh;
    width: 100%;
    background: rgb(232, 108, 55);
}

.fatimes{
    margin-left: 22rem;
  
}
.faaaa{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
}

.mobilemenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    gap: 1.5rem;
}
.mobilemenu li{
    list-style: none;
    font-size: 2rem;
    
    height: 4rem;
    width: 90%;
    border: 2px solid black;
    border-radius: 16px;
    background: black;
    
}
.mobilemenu li>p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
    color: white;
    
}