.moreproject {
    width: 100%;
    height: 100%;
    margin-top: 7rem;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    
}

.moreproject-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    gap: 15px;
    align-content: center;
}

.moreproject-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    margin-left: 2rem;
    height: 55vh;
    width: 37vh;
    background: rgb(253, 250, 250);
    border-radius: 20px;
    box-shadow: 0px 1px 0px rgb(164, 164, 164);

}

.moreproject-item:hover {
    box-shadow: 0px 10px 20px rgb(164, 164, 164);

}

.moreproject-img {
    width: 300px;
    cursor: pointer;
    height: 40%;
    border: .3px solid rgb(126, 126, 126);
    background-position: center;
    background-size: cover;
}

.moreproject-title {

    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.moreproject-title>span {
    color: var( --purple-color);
}

.moreproject-desc {

    color: rgb(134, 130, 130);
    text-align: center;
    font-size: 13px;
    padding: 1rem;

}

.moreproject-button {

    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    border-radius: 40px;
    border: none;
    background: var(--purple-color);
    color: white;
    cursor: pointer;
    width: 15rem;
    margin-top: 3rem;
    transition: background-color 0.5s ease-in-out;
}

.moremain-button {
    display: flex;
    align-items: center;
    justify-content: center;


}

.moreproject-button:hover {
    background-color: black;
}


.moreproject-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 120px;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    border-radius: 40px;
    border: none;
    background: var(--purple-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.moreproject-btn:hover {
    background-color: black;
}

@media screen and (max-width:768px) {
    .moreproject-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    .moreproject {
        width: 100%;
        height: 100%;
        margin-top: 3rem;
        padding: 2px 2px 2px 2px;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width:320px) {
    .moreproject-item {
        width: 30vh;
        margin: 0;
    }

    .moreproject-img {
        width: 250px;
    }
}