.cfooterwrapper{
     
    width: 100%;
    margin-top: 5rem;
    background: rgb(243, 243, 243);

}

.cfooterwrapper>hr{
    width: 100%;
    height: 1px;
    border: none;
    background: white;
    margin-top: 1rem;
}

.cfooter{
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.logo2{
    display: flex;
    align-items: flex-start;
    gap: 1em;

}

.logo2>img{
    width: 2.5rem;
    height: 2.5rem;
}
.logo2>span{
    font-weight: 900;
    font-size: 1.2rem;


}
.logo2>p{
    margin-top: .17rem;
    color: rgb(232, 108, 55);
    font-weight: 900;

}

.block{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 12rem;

}
.details{
    display: flex;
    flex-direction: column;
    width: inherit;
    font-size: .7rem;
    gap: 1rem;
    font-style: italic;
}
.details>span:nth-of-type(1)
{
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;

}

.pngLine:hover{
    cursor: pointer;

}
.pngLine{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.icon{
    width: 25px;
    
  color: rgb(232, 108, 55);
    

}




@media screen and (max-width:480px) {
    .cfooter{
        flex-direction: column;
        gap: 1rem;
        margin-left: 3rem;
    }

    .cfooter{
        margin-top: 55rem;
        height: 200vh;

    }
    .block{
        margin-top: -50rem;
    }
}




