.footer{
     margin-top: 8rem;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin-bottom: 3rem;
}
.footer-left{
    width: calc(100% - 50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: linear-gradient(to bottom, #867299, white);
}
.footer-title{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 1rem;
}
.footer-content{
    display: flex;
    flex-direction: column;
   margin: 2rem;
}
.footer-icon{
    color: var( --purple-color);
    font-size: var(--h2-font-size);
}
.footer--info{
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer-content>span:nth-of-type(1){
    text-align: center;
        margin-top: 1.5rem;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 1rem;
    
}

.footer--socials {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .footer-list{
    display: flex;
    justify-content: space-between;
    gap: 15rem;
    margin-top: 2rem;
  }
  .list1>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    
  }
  .list2>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  .footer--socials-mobileView{
    display: none;
  }
  
  @media screen and (max-width:768px){
    .footer{
        flex-direction: column;
        margin: 2rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .footer-left{
        width: 100%;

    }
    .footer-title{
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .footer-list{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .list1>ul{
        gap: 30px;
        text-align: center;
    }
    .list2>ul{
        gap: 30px;
        text-align: center;
    }
    .footer-content{
        align-items: center;
    }
    .footer--socials{
        display: none;
    }
    .footer-content>span:nth-of-type(1){
        display: none;
    }
  .footer--socials-mobileView{
    display: flex;
    column-gap: 16px;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
  }
  }